
*{
	margin: 0 auto
}

body{
	background-color: #5286c0;
    width: 1200px
}

.clear {
    clear: both
}

.container {
    width: 80%;
    margin-left: 0px;
    background-color: #5d8cc5;
}

main {
    width: 80%;
}

.nav {
	padding: 4px;
	height: 20px;
	background-color: rgba(0,0,0, 0.2);
    width: 98%;
    margin-top: 20px;
    margin-bottom: 3px;
}

.center_1 {
	width: 100%;
}

.center_1 a{
	padding: 1px;
	text-decoration: none;
	color: snow;
	margin: 0 15px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}.center_1 a:hover{
	border-bottom:solid 1px;
	color:whitesmoke;
}

#header {
	height: 100px;
	/*position:relative;*/

}
#rect1 img{
    
    margin-left: 60px;
    margin-top: 10px
}
#rect2 img{
    margin-left: 160px;
    width: 12%;
    
}
#rect3 {
	float: right;
    margin-top: 20px;
    margin-right: 12px
    
    
	
}


.column {
    float: left;
    width: 19%;
    padding: 2px; 
}
.center{
    float: left;
    width: 60%;
    padding: 2px;
    
}
.column1 {
    float: left;
    width: 19%;
    padding: 2px;
    
}
.fotter{
 font-family: sans-serif; 
}

.cimg{
	margin-left: 5px;
}
.inland{
    height: 170px;
    width: 100px;
    float: left;
    font-family: sans-serif;
    margin-top: 7px;
    margin-bottom: 1px

    
}
.inp{
   margin-top: 8px;
    color: aliceblue;
}
.inp1{
     margin-bottom: 10px;
    color: aliceblue;
}
.foot{
    background-color: #16406a;
    margin-bottom: 20px;
    height: 30px;
    color: snow;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%
    
    
}
.imgs{
    margin-bottom: 15px;
    
    
}
.inland1{
    
    height: 170px;
    width: 100px;
    float: left;
    font-family: sans-serif;
    margin-top: 9px;
}