
*{
	margin: 0 auto;
}

body{
	background-color: #5286c0;
}

.clear {
    clear: both
}

.container {
	width: 80%
}
.rect {
	border: 1px solid black;
}

.art{
	border: 1px solid blue;
}

.nav {
	padding: 10px;
	height: 20px;
	background-color: rgba(0,0,0, 0.5);	
}
.center_1{
	width: 100%;
	text-align: center;
}
.center_1 a{
	padding: 5px;
	text-decoration: none;
	color: orange;
	margin: 6px;

}
.center_1 a:hover{
	border-bottom:solid 3px;
	color: goldenrod;
}

#header {
	height: 100px;
	/*position:relative;*/

}
#rect2{
	margin-left: 25%;
}
#rect3{
	float: right;
	
}


.column {
    float: left;
    width: 19%;
    padding: 2px; 
}
.center{
    float: left;
    width: 60%;
    padding: 2px;
    
}
.column1 {
    float: left;
    width: 19%;
    padding: 2px;
    
}
.fotter{
 font-family: sans-serif; 
}

.cimg{
	margin-left: 5px;
}
.inland{
    height: 170px;
    width: 100px;
    float: left;
    font-family: sans-serif;
    
    
    
}
.inp{
   
    
    color: aliceblue;
}
.foot{
    background-color: #16406a;
    
}